In [1]:
import pandas as pd

In [3]:
members = pd.read_csv('./data/sp500_members.csv', index_col=0, parse_dates=[0])
members

                                                      tickers
date
1996-01-02  TMC-200006,AAL-199702,AAMRQ-201312,AAPL,ABI-20...
1996-01-03  AAL-199702,AAMRQ-201312,AAPL,ABI-200811,ABS-20...
1996-01-04  TMC-200006,AAL-199702,AAMRQ-201312,AAPL,OAT-20...
1996-01-10  TMC-200006,AAL-199702,AAMRQ-201312,AAPL,ABI-20...
1996-01-11  FLMIQ-200408,FLTWQ-200907,FMC,FMCC,FNMA,FTL.A-...
...                                                       ...
2019-01-03  A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,...
2019-01-08  A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,ADI,...
2019-01-09  KMI,KMX,KO,KR,KSS,KSU,L,LB,LEG,LEN,LH,LKQ,LLL,...
2019-01-10  TIF,TJX,TMK,TMO,TPR,TRIP,TROW,TRV,TSCO,TSN,TSS...
2019-01-11  JPM,JWN,K,KEY,KEYS,KHC,KIM,KLAC,KMB,KMI,KMX,KO...

[2595 rows x 1 columns]

In [6]:
random_day = pd.Timestamp('2001-01-01')

all_prior = members[members.index < random_day]
all_prior

                                                      tickers
date
1996-01-02  TMC-200006,AAL-199702,AAMRQ-201312,AAPL,ABI-20...
1996-01-03  AAL-199702,AAMRQ-201312,AAPL,ABI-200811,ABS-20...
1996-01-04  TMC-200006,AAL-199702,AAMRQ-201312,AAPL,OAT-20...
1996-01-10  TMC-200006,AAL-199702,AAMRQ-201312,AAPL,ABI-20...
1996-01-11  FLMIQ-200408,FLTWQ-200907,FMC,FMCC,FNMA,FTL.A-...
...                                                       ...
2000-12-14  A,AABA,AAMRQ-201312,AAPL,ABI-200811,ABKFQ-2013...
2000-12-15  MWV-201507,MXIM,MYG-200603,NAV,NBR,NCC-200812,...
2000-12-18  VTSS-201504,VZ,WAMUQ-201203,WB-200108,WB-20081...
2000-12-22  A,AABA,AAMRQ-201312,AAPL,ABI-200811,ABKFQ-2013...
2000-12-29  A,AABA,AAMRQ-201312,AAPL,ABI-200811,ABKFQ-2013...

[612 rows x 1 columns]